* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    min-height: 100px;
    background-color: #021526;
}

.menu {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 200px;
    padding-top: 15px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 22px;
    padding: 20px;
    color: #E2E2B6;
    display: block;
    font-weight: bold;
}

.menu .navbar ul li a:hover {
    color: #E2E2B6;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.inscripcion {
    padding: 60px 0;
    background-color: #021526;
}

.inscripcion h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
    color: #E2E2B6;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
    max-width: 800px; 
    height: 560px;
}

.form-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow-y: hidden;
    background-color: #021526;
}

.sobre-nosotros {
    padding: 60px 0;
    background-color: #03346E;
}

.sobre-nosotros-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sobre-nosotros-imagen {
    width: 40%;
    max-width: 400px;
}

.sobre-nosotros-texto {
    width: 60%;
    max-width: 600px;
}

.sobre-nosotros h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color: #E2E2B6;
}

.sobre-nosotros p {
    font-size: 18px;
    line-height: 1.6;
    color: #E2E2B6;
}

#google_translate_element {
    display: inline-block;
}

#google_translate_element .goog-te-gadget-simple {
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #E2E2B6;
    cursor: pointer;
}

#google_translate_element .goog-te-gadget-simple a {
    color: #E2E2B6;
}

#google_translate_element .goog-te-gadget-icon {
    display: none;
}

.ganadores{
    background-color: #021526;
}

.ganadores h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #E2E2B6;
    text-align: center;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
   
}

.foto {
    background-color: #021526;
    border-radius: 25px;
    overflow: hidden;
    max-width: 300px;
    margin-bottom: 10px;
    max-height: max-content;
}

.foto img {
    width: 100%;
    height: 100%;
}

.reglas {
    padding: 60px 0;
    background-color: #021526;
}

.reglas h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
    color: #E2E2B6;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container video {
    width: 100%;
    max-width: 800px;
    border: 1px solid #ddd;
    border-radius: 8px;
}
.container h2{
    font-size: 36px;
    margin-bottom: 20px;
    color: #E2E2B6;
    text-align: center;
}
.logo img{
    width: 100%;
    height: 100%;
    max-width: 500  px;
    position: static;
    text-align: center;
    padding: auto;
}
.logos-marcas{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
   
}
.marcas-aliadas{
    background-color: #03346E;
    border: 50px;
}